build/
build-*/
build_release/
.vs/
out/
tmp/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
.ninja_deps
.ninja_log
Testing/
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe
*.log
.ignore
vxui_design.md
temp/
tmp/
